@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: font-family: "Barlow Condensed", sans-serif;
  --font-family-two: font-family: "Barlow", sans-serif;
  /*************** PRIMARY *************/
  --red-400: hsl(0, 100%, 68%);
  /************* NEUTRAL **************/
  --blue-950: hsl(230, 29%, 20%);
  --blue-100: hsl(207, 33%, 95%);
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  padding: 1.5rem;
}

/************* NAVIGATION BAR ***************/
header {
  position: relative;
  width: 100%;
  max-width: 1000px;
  align-self: center;
  z-index: 9999;
}

.desktop-nav {
  display: none;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 1.5rem;
}

.logo img {
  width: 100%;
}

.mobile-nav {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-top: 30px;
  z-index: 1000;
}

.mobile-nav ul {
  display: grid;
  gap: 20px;
  list-style: none;
  text-align: center;
}

.mobile-nav ul a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--blue-950);
  cursor: pointer;
}

.mobile-nav .login,
.desktop-nav .login {
  color: rgb(185, 184, 184);
}

.mobile-toggle {
  cursor: pointer;
}

/************** BOX BACKGROUND ************/
.box-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 330px;
  background-color: var(--blue-100);
  border-radius: 0 0 0 80px;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  align-self: center;
  height: 90vh;
}

/*************** ILLUSTRATION DEVICES ***************/

.devices {
  position: relative;
  margin-top: 2rem;
}

.devices img {
  width: 120%;
}

/***************** TEXT BELOW DEVICES *************/
.description {
  margin-top: 5rem;
}

.description .part-one {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.description .part-one .small-head p {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: rgb(185, 184, 184);
  font-weight: 400;
  letter-spacing: 4px;
}

.description .part-one .small-head p span {
  background-color: var(--blue-950);
  font-weight: 700;
  color: white;
  letter-spacing: 0;
  border-radius: 30px;
  padding: 3px 8px;
}

.description .part-one .big-head h1 {
  color: var(--blue-950);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.description .part-one .sub-text p {
  font-family: var(--font-family-two);
  width: 87%;
  color: rgb(185, 184, 184);
  font-size: 1.4rem;
}

.description .cta {
  display: flex;
  align-items: center;
  gap: 30px;
}

.description .cta .cta-btn {
  position: relative;
  font-family: var(--font-family);
  text-transform: uppercase;
  background-color: var(--red-400);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
}

.description .cta .cta-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--blue-950);
  z-index: 0;
  transition: width 0.4s ease;
}

.description .cta .cta-btn span {
  position: relative;
  z-index: 1;
}

.description .cta .cta-btn:hover::before {
  width: 100%;
}

.description .cta p {
  font-family: var(--font-family-two);

  letter-spacing: 2px;
  color: rgb(185, 184, 184);
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .devices img {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 200px 400px 800px;
    align-items: center;
    justify-content: center;
  }

  .desktop-nav {
    display: block;
  }

  .desktop-nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
  }

  .desktop-nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--blue-950);
    font-weight: 700;
  }

  .desktop-nav ul li a:hover {
    text-decoration: underline;
  }

  .mobile-toggle {
    display: none;
  }

  .devices {
    grid-column: 3 / -1;
    margin-right: -100px;
  }

  .description {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .dot-separator {
    height: 5px;
    width: 5px;
    border-radius: 50px;
    background-color: rgb(185, 184, 184);
  }
}
